{% extends 'main.html' %}
{% load staticfiles %}

{% block edit-medic %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Редагувати виробника</h1>
            <form method="post">{% csrf_token %}
                            <div class="form-group">
                        <label>Назва</label>
                        <input class="form-control" type="text" name = "name_edit">
                      </div>
                      <div class="form-group">
                       <label>Ліцензія</label>
                          <textarea class="form-control" name = 'lisense_edit'></textarea>
                      </div>

                        <div class="form-group">
                            <label>Про компанію</label>
                            <input class="form-control" name = 'about_edit'>
                        </div>
                        <div class="form-group">
                            <label>Співпраця</label>
                            <input class="form-control" type="checkbox" name = 'cooperation_edit'>
                        </div>

                <button type="submit" class="btn btn-warning">Редагувати</button>
            </form>
        </div>


    </div>
</div>


{% endblock %}