{% extends 'lab2\main.html' %}
{% load staticfiles %}

{% block search-pills %}


<div class="container">
        <div class="row">
            <div class="col-md-6">
                  <div class="form-group">
             <h3>Ліки</h3>
             <table class = "table table-bordered table-hover">
                 <thead>
        <tr>
            <th>id</th>
            <th>Назва</th>
            <th>Склад</th>
            <th>Ціна</th>
            <th>Виробник</th>
            <th>Аптека</th>
        </tr>
        </thead>
             {% for elem in pill_list%}
                <tr>
                    <td>{{elem.0}}</td>
                    <td>{{elem.1}}</td>
                    <td>{{elem.2}}</td>
                    <td>{{elem.3}}</td>
                    <td>{{elem.4}}</td>
                    <td>{{elem.5}}</td>
                    <td>
                        <form action = "/edit/{{elem.0}}" method = "GET">{% csrf_token %}
        <input class  ="button btn-warning"  type = "submit"  value = "Редагувати">
        </form>
                    </td>
                    <td>
                        <form action = "/del/{{elem.0}}/" method = "POST">{% csrf_token %}
        <input class  ="button btn-danger"  type = "submit"  value = "Видалити">
        </form>
                    </td>
        </tr>

            {%endfor%}
                 </table>
            </div>
            </div>


            <div class="col-md-4">
    <h1>Пошук в ліках</h1>
    <form action="/search-bool/" method="post">{% csrf_token %}
        <div class="form-group">
    <label>Текст</label>
    <input class="form-control" type="text" name = "search_bool">
  </div>
    <button type="submit" class="btn btn-success">Пошук</button>
    </form>
</div>
        </div>
    </div>

{% endblock %}